@{
    ViewData["Title"] = "Level 3";
}

<div class="well">
    <p>Using the SportsORM, complete all the following queries and show their results on Level3.cshtml.</p>
    <ol>
        <li>...all teams, past and present, that Alexander Bailey has played with</li>
        <li>...all players, past and present, with the Manitoba Tiger-Cats</li>
        <li>...all players who were formerly (but aren't currently) with the Wichita Vikings</li>
        <li>...every team that Emily Sanchez played for before she joined the Indiana Royals</li>
        <li>...everyone named "Levi" who has ever played in the Atlantic Federation of Amateur Baseball Players</li>
        <li>...all players, sorted by the number of teams they've played for</li>
    </ol>
</div>
